$back_color: #21232e;
$foot_color: #3b3f50;
$gradient_one: #97334f;
$gradient_two: #db9f09;
$highlith1: #ff4e33;
$highlith2: #e3ac00;
$link_color: #d1d1cd;
$back_img: url(../img/m-h-night.jpg);
$foot_txt: #e2e4eb;
$txt: #e2e4eb;
$map: (w:450px,
        h:300px);