$back_color: #fff;
$foot_color: #21232e;
$gradient_one: #2e5cd5;
$gradient_two: #639315;
$highlith1: #14a0c7;
$highlith2: #699900;
$link_color: #c0c3ce;
$back_img: url(../img/m-h-day.jpg);
$foot_txt: #e2e4eb;
$txt: #21232e;
$map: (w:450px,
        h:300px);